<nav class="p-4 w-full">
    <ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
    <li>
        <a routerLink="./by-capital" routerLinkActive="active" class="[&.active]:text-purple-700 [&.active]:bg-purple-100 [&.active]:font-semibold hover:text-purple-600 transition-colors">
        <!-- Icono de ciudad/edificios -->
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 21h18"/>
            <path d="M5 21V7l8-4v18"/>
            <path d="M19 21V11l-6-4"/>
            <path d="M9 9v.01"/>
            <path d="M9 12v.01"/>
            <path d="M9 15v.01"/>
            <path d="M9 18v.01"/>
        </svg>
        Estados por capital
        </a>
    </li>
    <li>
        <a routerLink="./by-country" routerLinkActive="active" class="[&.active]:text-purple-700 [&.active]:bg-purple-100 [&.active]:font-semibold hover:text-purple-600 transition-colors">
        <!-- Icono de globo terráqueo -->
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"/>
            <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/>
            <path d="M2 12h20"/>
        </svg>
        Estados por país
        </a>
    </li>
    <li>
        <a routerLink="./by-region" routerLinkActive="active" class="menu-link [&.active]:text-purple-700 [&.active]:bg-purple-100 [&.active]:font-semibold hover:text-purple-600 transition-colors">
        <!-- Icono de mapa -->
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 6l6-3 6 3 6-3v15l-6 3-6-3-6 3z"/>
            <path d="M9 3v15"/>
            <path d="M15 6v15"/>
        </svg>
        Estados por región
        </a>
    </li>
    </ul>
</nav>